.heading {
    text-align: center;
    padding-top: 5%;
}

#font1 {
    color: #fd8f25;
    text-decoration: none;
    font-size: 1.8em;
}

#font2 {
    color: #495460;
    text-decoration: none;
    font-size: 1.8em;
}
#font3 {
    color: #636364;
    text-decoration: none;
    font-size: 1.8em;
}
#font2:hover {
    color: #fd8f25;
}

.container {
    padding-top: 3%;
    padding-bottom: 2%;
}

.col-md-1 {
    text-align: center;
    font-family: Roboto;
	margin-right: 38px;
}

#origin1 {
    color: #b5c0d0;
    text-decoration: none;
    font-size: 1.8em;
}

#origin1:hover {
    color: #fd8f25;
}

#origin2 {
    color: #b5c0d0;
    text-decoration: none;
    font-size: 1.8em;
}

#origin2:hover {
    color: #fd8f25;
}

#origin3 {
    color: #b5c0d0;
    text-decoration: none;
    font-size:1.8em;
}

#origin3:hover {
    color: #fd8f25;
}

#origin4 {
    color: #b5c0d0;
    text-decoration: none;
    font-size: 1.8em;
}

#origin4:hover {
    color: #fd8f25;
}

#origin5 {
    color: #b5c0d0;
    text-decoration: none;
    font-size: 1.8em;
}

#origin5:hover {
    color: #fd8f25;
}

#origin6 {
    color: #b5c0d0;
    text-decoration: none;
    font-size: 1.8em;
}

#origin6:hover {
    color: #fd8f25;
}


.main {
    border-top: 1px solid #b5c0d0;
    padding-top: 4%;
    padding-left: 12%;
    padding-right: 15%;
    padding-bottom: 4%;
}

.col-md-3 {
    color: #fd8f25;
    text-align: center;
    font-size: 3.5em;
    font-family: Roboto;
}

.col-md-9 {
    padding-top: 1%;
    text-align: justify;
    font-size: 1.8em;
    font-family: Roboto;
    color: #415160;
}


.bottom {
    border-top: 1px solid #b5c0d0;
    text-align: center;
    font-family: Roboto;
    color: #415160;
}

.box-a,.box-b{
	width:400px;
	height:150px; 
	float:left
	}
	
.box-a{ 
/* 	border:1px solid #00F; */
	margin-right:60px
	}
	
/* .box-b{ 
	border:1px solid #F00
	} */
